{% include 'index.html.twig' %}
{% block body %}
<div>Add product</div>
<div style="border:1px solid; width:300px;">
	<form method="POST" action="index.php?p=add_product"> 
		Name : <input type="text" name="name"><br>
		Price : <input type="text" name="price"><br>
		Number of Kcal : <input type="number" name="cal"><br>
		<input type="submit">
	</form>
</div>
{% endblock %}