{% include 'index.html.twig' %}
{% block body %}
<div>select product to search
</div>
<div style="border:1px solid; width:300px;">
	<form method="POST" action="index.php?p=product"> 
		<input type="number" name="id" min="0">
		<input type="submit">
	</form>
</div>
{% endblock %}
