{% extends 'index.html.twig' %}
{% block body %}
<div>write product u want to delete
</div>
<div style="border:1px solid; width:300px;">
	<form method="POST" action="index.php?p=del_product"> 
		Name product to del: <input type="text" name="name"><br>
		<input type="submit">
	</form>
</div>
{% endblock %}
