@font-face {    font-family: "topbarfont";  src: url('Change Tomorrow Today.ttf'); }

a{
    color:#34A7C1;
}
body{
    background-color:#f5f5ef;
}
/*div{border:1px solid;}*/
.linkfb{
    background-image: url("./../images/asset/f.png");
    background-size: 100% 100%;
    height:20px;
    width: 20px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.top-buffer { margin-top:25px; }
.top-buffer2 { margin-top:30px; }
.top-buffer3 { margin-top:20px; }
.top-buffer4 { margin-top:40px; }
.top-buffer1{  margin-top:10px; }
.top-bufferinputxt{ margin-top : 7px;}
.top-bufferloglink{ margin-top : 7px;}

.barsize{
    color:#f5f5ef;
}
.loglink{
    height: 40px;

}
.itemloglink{
    height: 100%;
    padding-top: 8px;
}
.itemloglink a{
   color:  #4b9f78;
}
.itemloglink a:hover{
   color:  #4b9f78;
}
.barloglink{
    border-right:1px solid #1dbe8d;
}
.otherlink{
    box-shadow:  -5px 0px 14px  #fff; 
}
.topbarr{
    height: 50px;
  }
.topbarr a{
    color:#f5f5ef;
    font-family: topbarfont;

    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease-in-out;/* transition pour Chrome et Safari */
    -moz-transition: opacity 0.3s ease-in-out;/* transition pour Firefox */
    -o-transition: opacity 0.3s ease-in-out;/* transition pour Opéra */
    transition: opacity 0.3s ease-in-out; /* on écrit cette ligne à la fin de façon à ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */

}
.topbarr a:hover{
    color :#FFF;
    opacity: 0.9;
}
.evenmorelittle{
    font-size: 3px;
    margin-top: 100px;
}


.topbarr{
background-image: url("./../images/asset/ardoise.png");
background-size: 100% 100%;

}

.endbar{
    padding-bottom: 25px;
    box-shadow: 0px 25px 40px -35px;
}

.bar1{height: 130px;
    font-family: topbarfont;
    color:#4b9f78;}

.bar2{height: 420px;
background-image: url("./../images/asset/Background.png");
background-size: 100% 100%;

}
.notifyform{height: 30px;
}
.middd{height: 200px;}
.undertitle{
    color : #f5f5ef;
    font-size: 20px;
    font-weight: lighter;
    }
.littletext{
    font-size: 13px;
    color : #f5f5ef;    
    font-weight: lighter;
}
.phrase{
    font-weight: lighter;
    color: #f5f5ef;
    font-size: 30px;
}
.logoutlink{
    margin-right:-40px;
  }

@media screen and (max-width:511px) {
.logoutlink{
    left:-120px;
    margin-top:30px;
  }
}
@media screen and (max-width:991px) {
  .topbarr{
    height: 120px;
  }
  .itemloglink{
    width:40%;
    display: inline;
    top:30px;

  }
  .bar1{
    height:160px;
  }
.logoutlink{
    margin-right:-90px;
  }
  .evenmorelittle{
    margin-top: 0px;
  }
}

.btninscript {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: #ffffff;
  font-size: 20px;
      font-weight: lighter;
  background: #1dbe8d;
  padding: 15px 12px 15px 12px;
  text-decoration: none;
  border:0;
}

.btninscript:hover {
  text-decoration: underline;
  -webkit-box-shadow:inset 0px -10px 5px #2ad199;
  -moz-box-shadow:inset 0px -10px 5px #2ad199;
  box-shadow:inset 0px -10px 5px #2ad199;
}
.btnupdate {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: #ffffff;
  font-size: 20px;
      font-weight: lighter;
  background: #1dbe8d;
  padding: 6px 12px 6px 12px;
  text-decoration: none;
  border:0;
}

.btnupdate:hover {
  text-decoration: underline;
  -webkit-box-shadow:inset 0px -10px 5px #2ad199;
  -moz-box-shadow:inset 0px -10px 5px #2ad199;
  box-shadow:inset 0px -10px 5px #2ad199;
}





.onoffswitch {
    height:30px;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Male";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Female";
    padding-right: 10px;
    background-color: #F6BEFA; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.confirmswitch {
        height:35px;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.confirmswitch-checkbox {
    display: none;
}
.confirmswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.confirmswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.confirmswitch-inner:before, .confirmswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.confirmswitch-inner:before {
    content: "Yes";
    padding-right: 25px;
    background-color: #1dbe8d; color: #FFFFFF;
}
.confirmswitch-inner:after {
    content: "Nop";
    padding-right: 15px;
    background-color: #FFF; color: #999999;
    text-align: right;
}
.confirmswitch-switch {
    display: block; width: 18px; margin: 8px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 50px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.confirmswitch-checkbox:checked + .confirmswitch-label .confirmswitch-inner {
    margin-left: 0;
}
.confirmswitch-checkbox:checked + .confirmswitch-label .confirmswitch-switch {
    right: 5px; 
}