@font-face {    font-family: "topbarfont";  src: url('Change Tomorrow Today.ttf'); }

a{
    color:#34A7C1;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.glow{
text-shadow: #999999 1px 1px, #999999 -1px 1px, #999999 -1px -1px, #999999 1px -1px;}

.question:before{
      color: #ff4800;
    content: "» ";
    font-weight: bold;

}


.firstetap{
    background-image: url("./../images/asset/firstetap.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
height: auto;
width:25%;
min-width:60px;
float: left;

}
.secondetap{
    background-image: url("./../images/asset/secondetap.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
height: auto;
width:25%;
min-width:60px;
float: left;
margin-left:-50px;
}
.thirdetap{
    background-image: url("./../images/asset/thirdetap.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
height: auto;
width:25%;
min-width:60px;
float: left;
margin-left:-50px;
}
.fourthetap{
    background-image: url("./../images/asset/fourthetap.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
height: auto;
width:25%;
min-width:60px;
float: left;
margin-left:-50px;
}

.glow{
text-shadow: #999999 1px 1px, #999999 -1px 1px, #999999 -1px -1px, #999999 1px -1px;}

/*div{border:1px solid;}*/
.emptycard{
    font-weight: lighter;
    font-size: 40px;
    color:#FFF;
}
.panier{
    background-image: url("./../images/asset/shopping.png");
    background-size: 100% 100%;
    height:125px;
    width:20%;
    margin: 15px auto 15px auto;
    border-radius: 15px;
    border: 2px solid #000;
    opacity: 0.4;
}
.btnform{
display: none;}
.large{
  width:150px;
}
.imgmiam{
    background-image: url("./../images/asset/miam.png");
    background-size: 100% 100%;
    height:225px;
}

.x1 {
    overflow:hidden;
}
.x1 .x2 {
    display:block;
    float:left;
    padding: 55.5%;
    width:auto;
    height:auto;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    background:#eee;
    text-align:center;
    position: relative;
}
.x1 .x2 span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 48%;
    line-height: 1em;
    height: 1em;
    font-size: 100%;
    overflow: hidden;
}​
.posx1{
   
}
.xxs{
    height: 200px;
    width:80%;
    min-width:400px;
    padding-left: 22%;
}

.rotate{
    margin-top: -35px;
    padding: 17px 17px 17px 17px;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.rotate:hover{
  -webkit-transform:rotate(160deg);
  -moz-transform:rotate(160deg);
  -o-transform:rotate(160deg);
  /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
  -ms-transform:rotate(160deg);
  opacity: 0;
}
.img{
    width:80px;
    height:80px;
    margin-top:-25px;
    margin-left:10px;
    border:2px solid #999999;
    border-radius: 10px;
}

.card{
    height:107px;
    border-bottom: 1px solid #fff;
    border-radius: 50px;
    margin-top: 18px;
}



.custom-upload {
    background-color: #008000;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    width:250px;
    font-size: 10px;
}
.custom-upload input {
    left: -9999px;
    position: absolute;
}

#time0{
display: none;
}
#time1{
display: none;
}
#time2{
display: none;
}
#time3{
display: none;
}
#time4{
display: none;
}
#time5{
display: none;
}

#timename0{
    width: 300px;
}

#timename1{
    width: 300px;
}

#timename2{
    width: 300px;
}
.dayz:before{
    content:"";
}



.logo{
    background-image: url("./../images/asset/LogoSmartFood.png");
    background-size: 100% 100%;
    height:70px;
    margin-top:-15px;
    width:200px;
}

.linkfb{
    background-image: url("./../images/asset/f.png");
    background-size: 100% 100%;
    height:20px;
    width: 20px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.top-buffer1per{  margin-top:1%; }
.top-buffery3{  margin-top:3px; }
.top-buffery5{  margin-top:5px; }
.top-buffer { margin-top:25px; }
.top-buffer2 { margin-top:30px; }
.top-buffer3 { margin-top:20px; }
.top-buffer4 { margin-top:40px; }
.top-buffer1{  margin-top:10px; }
.top-buffer1y5{  margin-top:15px; }
.top-buffer1y7{  margin-top:17px; }
.top-buffer12{  margin-top:120px; }
.top-bufferinputxt{ margin-top : 7px;}
.top-bufferloglink{ margin-top : 7px;}

.barsize{
    color:#f5f5ef;
}
.loglink{
    height: 40px;
}
.itemloglink{
    height: 100%;
    padding-top: 8px;
    box-shadow:  -5px 0px 14px  #fff;
    border-radius: 10px;
}
.itemloglink a{
    color:  #4b9f78;
}
.itemloglink a:hover{
    color:  #5d8f78;
}
.barloglink{
    border-right:1px solid #1dbe8d;
        border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.otherlink{
    
}
.topbarr{
    height: 50px;
}
.topbarr a{
    color:#f5f5ef;
    font-family: topbarfont;

    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease-in-out;/* transition pour Chrome et Safari */
    -moz-transition: opacity 0.3s ease-in-out;/* transition pour Firefox */
    -o-transition: opacity 0.3s ease-in-out;/* transition pour Opéra */
    transition: opacity 0.3s ease-in-out; /* on écrit cette ligne à la fin de façon à ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */

}
.topbarr a:hover{
    color :#FFF;
    opacity: 1;
}

.fblink{
    color:#f5f5ef;

    opacity: 0.7;
    -webkit-transition: opacity 0.5s ease-in-out;/* transition pour Chrome et Safari */
    -moz-transition: opacity 0.5s ease-in-out;/* transition pour Firefox */
    -o-transition: opacity 0.5s ease-in-out;/* transition pour Opéra */
    transition: opacity 0.5s ease-in-out; /* on écrit cette ligne à la fin de façon à ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */

}
.fblink:hover{
    color :#FFF;
    opacity: 1;
}
.evenmorelittle{
    font-size: 3px;
    margin-top: 100px;
}


.topbarr{
    background-image: url("./../images/asset/ardoise.png");
    background-size: 100% 100%;

}

.endbar{
    margin-top: 20px;
    padding-bottom: 25px;
    box-shadow: 0px 25px 40px -35px;
}

.bar1{height: 130px;
    font-family: topbarfont;
    color:#4b9f78;}

.bar2{height: 400px;
    width: 100%;

}
.black{
    font-size: 25px;
    color:#999999;
    font-weight: normal;
    font-family: "BebasNeue Regular";
}
.yolo{
font-size: 25px;
    color:#edede7;
    font-weight: normal;
    font-family: "BebasNeue Regular";
}
.helpsize{
    font-size: 15px;
 font-family: "BebasNeue Regular";
}
.barimg2{
    background-image: url("./../images/asset/tassethé.jpg");
    background-size: 100% 100%;

}
.barimg3{
    background-image: url("./../images/asset/help.png");
    background-size: 100% 100%;
    background-color: #edede7;

}
.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 40px; line-height: 1; color: red; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }

.slick-prev{
margin-left: 40px;}
.slick-next{
margin-right: 40px;}
.barimg{
    background-image: url("./../images/asset/Background.jpg");
    background-size: 100% 100%;
    height:430px;
    width:100%;
}
.middd{height: 200px;}
.undertitle{
    color : #f5f5ef;
    font-size: 20px;
    font-family: Roboto;
}
.littletext{
    font-size: 13px;
    color : #f5f5ef;
    font-weight: lighter;
}
.sizeday{
    min-width:99px;
}
.phrase{
    color: #f5f5ef;
    font-size: 30px;
    padding-top: 30px;
    font-family: "Roboto";
}
.logoutlink{
    margin-right:20px;
}
.posx1{
    margin-top: 30px;
}


.btninscript {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    background: #4b9f78;
    padding: 15px 12px 15px 12px;
    text-decoration: none;
    border:0;
}

.btninscript:hover {
    text-decoration: underline;
}
.btnlog {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    background: #4b9f78;
    padding: 15px 12px 15px 12px;
    text-decoration: none;
    border:0;
}

.btnlog:hover {
    text-decoration: underline;
}
.btnupdate {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    background: #4b9f78;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    border:0;
}

.btnupdate:hover {
    text-decoration: underline;
}
.btnprofil {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    color: #ffffff;
    font-size: 14px;
    font-weight: lighter;
    background: #4b9f78;
    padding: 4px 9px 4px 9px;
    text-decoration: none;
    border:0;
}

.btnprofil:hover {
    text-decoration: underline;
}


.onoffswitch {
    height:35px;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    font-size: 11px;
    content: "Homme";
    padding-right: 25px;
    background-color: #94adff; color: #FFFFFF;
}
.onoffswitch-inner:after {
    font-size: 11px;
    content: "Femme";
    padding-right: 15px;
    background-color: #daaaff; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 8px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: -1px; bottom: 2px; right: 50px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 5px;
}


.confirmswitch {
    height:35px;
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.confirmswitch-checkbox {
    display: none;
}
.confirmswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 20px;
}
.confirmswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.confirmswitch-inner:before, .confirmswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.confirmswitch-inner:before {
    content: "Yes";
    padding-right: 25px;
    background-color: #4b9f78; color: #FFFFFF;
}
.confirmswitch-inner:after {
    content: "Nop";
    padding-right: 15px;
    background-color: #FFF; color: #999999;
    text-align: right;
}
.confirmswitch-switch {
    display: block; width: 18px; margin: 8px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: -1px; bottom: 2px; right: 50px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.confirmswitch-checkbox:checked + .confirmswitch-label .confirmswitch-inner {
    margin-left: 0;
}
.confirmswitch-checkbox:checked + .confirmswitch-label .confirmswitch-switch {
    right: 5px;
}

/*Abonnement Bloc*/

.abon-bloc {
    background-color: #4b9f78;
}

/*Etap*/

.etap-bloc {
    background-color: #4b9f78;
}

.img-etapp {
    background-image: url("./../images/asset/bannierre_ETAPES.png");
    background-size: 100% 100%;
    height: 230px;

}
.circle1 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 30px;
    float: left;
    margin-right: 50px;
    margin-left: 100px;
}
.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 30px;
    float: left;
    margin-right: 50px;
}

/*Abonnement Bloc*/

.abon-bloc {
    background-color: #edede7;
    height: 690px;

}

.abon-bloc-img {
    width: 70%;
    padding-bottom: 20px;
    background-image: url("./../images/asset/photoaccueil1.png");
    background-size: 100% 100%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
}
.abon-bloc-desc{

}
.abon-title {
    font-family: "BebasNeue Regular";
    font-size: 24px;
    color: #ffffff;
    margin-top: 280px;
    margin-left: 50px;

}

.abon-desc {
    font-family: topbarfont;
    font-size: 18px;
    color: #ffffff;
}
.abon-btn {
    font-family: "BebasNeue Regular";
    font-size: 16px;
    background-color: #4b9f78;
    height: 30px;
    width: 140px;
    border: 0;
    color: #ffffff;
    margin-top: 20px;
}
/*En ce moment*/

.description-bloc {
    height: 500px;
    background-color: #f5f5ef;
    margin-top: 30px;
}


.db-title {
    font-family: "BebasNeue Regular";
    font-weight: bold;
    font-size: 24px;
}

.article-title {
    font-family: "BebasNeue Regular";
    font-weight: bold;
    font-size: 16px;
    color: #4b9f78;
}

.article-desc {
    font-family: Roboto-Light;
    font-size: 10px;
    color: #c0bfbd;
}

.img-desc {
    height: 135px;
    width: 195px;
    background-image:  url("./../images/asset/crepes.png");
    background-size: 100% 100%;

}

.plat {
    height: 260px;
    width: 130px;
    margin-left: auto;
    background-image:  url("./../images/asset/salade.png");
    background-size: 100% 100%;
}
.plat2 {
    height: 260px;
    width: 130px;
    margin-left: auto;
    background-image:  url("./../images/asset/plat1.png");
    background-size: 100% 100%;
}

.green-square {
    background-image: url("./../images/asset/green-square.png");
    background-size: 100% 100%;
    height: 130px;
    font-family: "BebasNeue Regular";
    color: #ffffff;
    font-size: 20px;
    line-height: 140%;
}

.sand-square {
    background-image: url("./../images/asset/sand-square.png");
    background-size: 100% 100%;
    height: 130px;
    font-family: "BebasNeue Regular";
    color: #ffffff;
    font-size: 20px;
}

.big-number {
    font-size: 80px;
    line-height: 90%;

}

.quote {
    font-family: Roboto-Light;
    font-size: 25px;
    margin-top: 50px;
    color: #8f8f8b;
}


/*Footer*/

.bottombarr {
    background-image: url("./../images/asset/ardoiseextended.png");
    background-size: 100% 100%;
    width:100%;
    height: 151px;
    font-family: topbarfont;
    color: #ffffff;
    padding-top: 40px;

}

.footer-titles {
    font-size: 13px;
}

.footer-text {
    font-size: 10px;
}
.nous-contact {
    text-align: left;
    float: right;
    margin-right: 30px;
    font-weight: bold;
}

.copyright {
    float: left;
    text-align: left;

}
.copyright-title {
    font-size: 15px;
}

.footer-logo {
    margin-right: 10px;
    margin-left: 10px;
    height: 27px;
}

.download-app {
    font-size: 10px;
    margin-top: 15px;
    text-decoration: underline;
}


/*User page bloc*/

.big-user-bloc {
    height: 1770px;
    background-color: #edede7;

}

    /*Last Meal Bloc*/

.last-meal-bloc {
    background-image: url("./../images/asset/lastMeal.png");
    background-size: 100% 100%;
    width: 90%;
    height: 320px;
    display: inline-block;
    margin-top: 35px;
}
.title-last-meal {
    font-family: "BebasNeue Regular";
    font-size: 19px;
    text-decoration: underline;
    color: #ffffff;
    margin-top: 37px;
    text-align: left;
    padding-left: 57px;
}

.smileys {
    margin-left: 5px;
}

.last-meal-lines {
    font-family: topbarfont;
    color: #ffffff;
    padding-bottom: 30px;

}

.last-meal-titles-like {
    font-size: 18px;
    font-weight: bold;
}

.last-meal-choices-like {
    font-size: 14px;

}
.last-meal-choices-like:hover {
    color: #4b9f78;
    cursor: pointer;
}

.radio-btn-like{
    /*display: none;*/
}
.btn-like {
    font-family: "BebasNeue Regular";
    font-size: 16px;
    background-color: #4b9f78;
    height: 30px;
    width: 100px;
    border: 0;
    color: #ffffff;
    margin-top: 20px;
}
.label-like:hover {
    color: #4b9f78;
    cursor: pointer;

}

    /*Proposition of the day*/

.proposition-day {
    height: 316px;
    width: 100%;
}

.proposition-title {
    font-family: "BebasNeue Regular";
    font-size: 19px;
    text-decoration: underline;
    color: #2b2b2b;
    font-weight: bold;
    margin-left: 49px;
    margin-top: 32px;
}

.proposition-polaroid {
    height: 272px;
    width: 239px;
    background-image: url("./../images/asset/polaroid.png");
    background-size: 100% 100%;


}

.proposition-btn {
    margin-top: 89px;
    padding-top: 17px;
    width: 59px;
    height: 59px;
    color: #4b9f78;
    border: 1px solid #4b9f78;
    border-radius:10px;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}
.proposition-btn:hover:before {
    font-size: 12px;
content:"Actualiser";
}

.tape {
    margin-top: -15px;
}

.meal-desc {
    font-family: topbarfont;
    font-size: 14px;
    margin-top: 210px;
    font-weight: bold;
}


/*Like*/

.like-title {
    font-family: "BebasNeue Regular";
    font-size: 19px;
    text-decoration: underline;
    font-weight: bold;
}

.like-bloc {
    margin-top: 45px;
}

.img-like {
    background-size: 100% 100%;
    background-image: url("./../images/asset/hamburger.png");
    height: 329px;
    width: 435px;
    box-shadow: 1px 1px 1px;

}

.like-rate {
    height: 329px;
    width: 435px;
    background-color: #82b199;
    padding-top: 10px;
    box-shadow: 1px 1px 2px;

}

.rate-item {
    font-family: "BebasNeue Regular";
    font-size: 35px;
    color: #4a5152;
    font-weight: bold;
    margin-top: 8px;
}
.rate-item:hover{
    color: #ffffff;
    cursor: pointer;
}
.meal-name {
    font-family: Roboto-Thin;
    font-size: 19px;
    font-weight: bold;
}

/*Calendar*/

.calendar-bloc {
    margin-top: 39px;
    width: 607px;
    height: 585px;

}

.calendar-title {
    font-family: "BebasNeue Regular";
    font-size: 19px;
    font-weight: bold;
}

.calendar {
    margin-top: 30px;
    display: inline-block;

}

.month {
    height: 41px;
    border: solid 1px;
    background-color: #4a5154;
    border-color: #4a5154;
    font-size: 23px;
    color: #999b9f;
    font-family: Roboto-Thin;
    font-weight: bold;
}

.day {
    width: 90px;
    height: 105px;
    background-color: #ffffff;
    border: solid 1px;
}
.week-end {
    background-color: #4b9f78;
}

.day-letter {
    margin-left: 71px;
    margin-top: 88px;
    font-family: "BebasNeue Regular";
    font-weight: bold;
    font-size: 15px;
}

.sunday {
    color: #ffffff;
}

.question:before{
      color: #ff4800;
    content: "» ";
    font-weight: bold;

    }


@media screen and (max-width:620px) {
.overflow {
    height: 150px; /* hauteur de la zone tronquée, à ajuster en fonction du besoin */
    overflow: hidden;
    position: relative;
}
.overflow:after {
    content: ""; /* pour créer un élément fantôme */
    pointer-events: none; /* pour que l'élément n'empêche pas la sélection de texte (navigateurs supportant cette propriété) */
    width: 100%; /* pour que l'élément fantôme couvre la largeur entière et 30% de la hauteur */
    height: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
    /* lignes suivantes : dégradé vertical de blanc transparent vers blanc opaque (navigateurs supportant les dégradés CSS, navigateurs supportant les couleurs rgba */
    background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(237,237,273,1));
    background: -moz-linear-gradient(rgba(255,255,255,0), rgba(237,237,273,1));
    background: -ms-linear-gradient(rgba(255,255,255,0), rgba(237,237,273,1));
    background: -o-linear-gradient(rgba(255,255,255,0), rgba(237,237,273,1));
    background: linear-gradient(rgba(255,255,255,0), rgba(237,237,273,1));
    }
}
@media screen and (max-width:511px) {
    .logoutlink{
        left:-120px;
        margin-top:30px;
    }
    .abon-bloc {
        height:350px;
    }
    .etap-bloc{
        height:80px;
    }
    .abon-bloc-img {
        height: 250px;
    }
    .subscribereplace{
        display: none;

    }
    .x1 .x2 {

        padding: 65.5%;
    }
    .slash{
        left:60px;
    }
    .rate-item{
        font-size: 25px;
        margin-top:20px;
    }
    .bottombarr{
        height: 200px;
    }
    .btnprofil{
        width:100px;
    }
    .btninscript {
        padding: 2%;
    }
}
@media screen and (max-width:991px) and (min-width:511px) {
    .abon-bloc-img {
        height: 430px;
    }
    .subscribereplace{
        margin-top: 373px;
        margin-left: -10px;
        width:120px;
    }
        .abon-bloc {
        height:550px;
    }
}

@media screen and (max-width:991px) {
    .proposition-btn{
        margin-left:-22px;
    }
    .abon-desc{display: none;}
    .abon-title{display:none;}

    .topbarr{
        height: 100px;
        background-image: url("./../images/asset/ardoiseextendedtop.png");
        background-size: 100% 100%;

    }
    .posx1{
    margin-top: 40px;
}
    .itemloglink{
        width:40%;
        display: inline;
        top:30px;
    }
    .barimg{
        width:90%;
    }
    .bar1{
        height:160px;
    }
    .addUserInfo{
        height: 620px;
    }
   .showUser{
        height: 490px;
    }
    .logoutlink{
        margin-right:-90px;
    }
    .loglink{
        bottom:40px;
    }
    .evenmorelittle{
        margin-top: 0px;
    }
    .btninscript {
        position: relative;
        top:-30px;
    }
    .widthresize{
        margin: 5px auto auto auto;
    }

    .btnupdatereplace{
        position: relative;
        top:-15px;
    }
    .middd{
        margin-top: 5px;
    }
    .circle{
      height:50px;
    }
    .etap-bloc{
        height:160px;
    }
    .morelittle{
        font-size: 10px;
    }
}
