{% if methode == "addAvatar" %}

    {% include 'index.html.twig'  %}

{% endif %}

{% block body %}
<div>Add your Avatar picture</div>
<div style="border:1px solid; width:300px;">

	{% if methode == "addAvatar" %}

    	<form method="POST" action="index.php?p=add_avatar" enctype="multipart/form-data">  
    {% elseif methode =="addUserInfo" %}
    	<form method="POST" action="index.php?p=add_userinfo" enctype="multipart/form-data"> 
	{% endif %}
   
	<input type="hidden" name="MAX_FILE_SIZE" value="2097152"">    
		Avatar : <input type="file" name="avatar"><br>
		

</div>
{% if confirm == "true" %}
 
<div>You already have an avatar, want to remplace it ?</div>
	<div class="confirmswitch">
		<input type="checkbox" name="confirmswitch" class="confirmswitch-checkbox" id="myconfirmswitch">
		<label class="confirmswitch-label" for="myconfirmswitch">
		<span class="confirmswitch-inner"></span>
		<span class="confirmswitch-switch"></span>
		</label>
	</div>


{% endif %}
<input type="submit"  value="Upload picture">
</form>
</div>
</form>
{% endblock %}