{% block body %}
<div class="col-md-8 col-md-offset-2 top-buffer3">
	<form method="POST" action="index.php?p=add_user"> 
		<div class="row">
			<div class="col-md-7">
				 <input type="text" class="form-control" placeholder="Code postal régional - Ex : 75200" name="codepost">
				 <input type="text" class="form-control top-bufferinputxt" placeholder="nom@email.com" name="email">
				 <div class="row">
					  <div class="col-xs-6">
					    <input type="password" class="form-control top-bufferinputxt" placeholder="Mot de passe" name="password"></div>
					  <div class="col-xs-6">
					    <input type="password" class="form-control top-bufferinputxt" placeholder="Confirmer" name="password_check"></div>
				</div>
			<div class="row">
				<div class="col-md-4">
					<div class="confirmswitch top-buffer1">
					<input type="checkbox" name="confirmswitch" class="confirmswitch-checkbox" id="myconfirmswitch">
					<label class="confirmswitch-label" for="myconfirmswitch">
					<span class="confirmswitch-inner"></span>
					<span class="confirmswitch-switch"></span>
					</label>
					</div> 
				</div>
				<div class="col-md-6 littletext col-md-offset-2" style="position:absolute;width:240px;bottom:5px;left:80px">
					 J'accepte les conditions générales d'utilisation et l'utilisation de cookies
				</div>
			</div>
			</div>
			<div class="col-md-5 text-center">
			<div class="littletext notifyform"> {{message}}
			</div>
				<input class="btninscript btninscript1" type="submit" value="S'inscrire">
			</div>
		</div>
	</form>
</div>
{% endblock %}