{% include 'index.html.twig' %}
{% block body %}
<div>write user u want to delete
</div>
<div style="border:1px solid; width:300px;">
	<form method="POST" action="index.php?p=del_user"> 
		Name user to del: <input type="text" name="name"><br>
		<input type="submit">
	</form>
</div>
{% endblock %}
