{% block body %}
	<div class="text-center">
			{{message}}
		<div class="phrase ">
			<span class="black">Un problème ? Smartfood </span>
			<span class="yolo glow">à l'écoute de vos besoins</span>
			<div class="col-md-6 col-xs-6">     

				Vous trouverez, ci-dessous, les réponses aux questions que vous posez le plus fréquemment à notre hotline ou au service client. Nous souhaitons vous apporter des éléments de réponse simple.
				 
				Les 10 questions les plus fréquentes
				<div class="question text-left">Comment savoir si ma commande est confirmée?</div>
				<div class="question text-left">Je voudrais modifier ma commande ou ajouter des plats. Comment puis-je le faire?</div>
				<div class="question text-left">J'ai faim ! Où en est ma commande?</div>
				<div class="question text-left">Comment formuler une demande spéciale avant ma commande ?</div>
				<div class="question text-left">Je souhaite annuler ma commande. Comment puis-je faire?</div>
				<div class="question text-left">Comment donner votre avis sur la commande / le restaurant ?</div>
				<div class="question text-left">J'ai reçu un code de réduction. Comment en profiter?</div>
				<div class="question text-left">Je ne suis pas satisfait de ma commande. Comment faire?</div>
				<div class="question text-left">Est-ce que je peux commander ou payer par téléphone ?</div>
			</div
		</div>
	</div>

{% endblock %}