<h1> WELCOME GOLEFOY </h1><br>
<a href ="http://localhost:8888/newproject/web/index.php?p=user">show user</a><br>
<a href ="http://localhost:8888/newproject/web/index.php?p=user_list">List user in users</a><br>
<a href ="http://localhost:8888/newproject/web/index.php?p=adduser ">Form for add user in users</a><br>