<!DOCTYPE html>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
<title>{% block title %}Test Application{% endblock %}</title>
<h1> WELCOME GOLEFOY </h1><br>
	{% block sidebar %}
		<a href ="http://localhost:8888/newproject/web/index.php?p=user">show user</a><br>
		<a href ="http://localhost:8888/newproject/web/index.php?p=user_list">List user in users</a><br>
		<a href ="http://localhost:8888/newproject/web/index.php?p=adduser ">Form for add user in users</a><br>
		<a href ="http://localhost:8888/newproject/web/index.php?p=deluser ">Form for del user in users</a><br>
		<a href ="http://localhost:8888/newproject/web/index.php?p=loguser ">Form for log user in users</a><br>
		<a href ="http://localhost:8888/newproject/web/index.php?p=logout ">Clic for logout. q+</a><br>
	{% endblock %}
	<div>User:{{ session }}</div>
	<div id="content">
            {% block body %}{% endblock %}
    </div>
	<div id="notif">
            {% block notif %}{% endblock %}
    </div>
